:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 250px;
  padding: 10px;
  background-color: rgba(23, 110, 110, 0.767);
  color: #fff;
  font-size: 20px;
}
button {
  margin-top: 20px;
  height: 36px;
}

input {
  max-width: 20%;
}
